#mylastminutes-widget ul {
    list-style: none;
    padding:0;
    margin: 0;
}
#mylastminutes-widget li {
    position: relative;
    margin-bottom: 8px;
}
#mylastminutes-widget li:hover {
    cursor: pointer;
}
#mylastminutes-widget .lm-image{
    width:80px;
    float: left;
    margin-right: 10px;
}
#mylastminutes-widget .lm-trip, #mylastminutes-widget .lm-destination, #mylastminutes-widget .lm-props{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 60px;
    line-height: 100%;
}
#mylastminutes-widget .lm-trip{
    font-weight: bold; 
}
#mylastminutes-widget .lm-destination{
    font-size: 70%;
}
#mylastminutes-widget .lm-props{
    font-size: 80%;
    font-style: italic; 
}
#mylastminutes-widget .lm-price{
    position: absolute;
    height: 50px;
    right: 0;
    top: 0;
    text-align: right;
    max-width: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #d5375f;
}
#mylastminutes-widget .lm-link{
    text-align: center;
}